<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h1>List of Users</h1>
<div class="row">
{% for i in reg %}
    <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{i.uname}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">First Name : {{i.fname}}</h6>
        <p class="card-text">Last Name : {{i.lname}}</p>
          <p class="card-text">Phone Number : {{i.phone}}</p>
        <a href="http://127.0.0.1:8000/crud/edit_card/{{i.id}}" class="btn btn-success">EDIT</a>
          <a href="http://127.0.0.1:8000/crud/delete_card/{{i.id}}" class="btn btn-danger">DELETE</a>
      </div>
    </div>
        </div>
{% endfor %}
    </div>
<br>
<a href="http://127.0.0.1:8000/crud/index/">Back to Home</a>
</body>
</html>